@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

section {
  scroll-margin-top: 100px;
}

::selection {
  background: rgba(34, 211, 238, 0.3);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0b1120;
}

::-webkit-scrollbar-thumb {
  background: #22d3ee;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #06b6d4;
}